html { 
   background-color: inherit; 
  } 
  iframe {
    border: 5px solid #2d2d2d !important;   
  }
  body {
    /* background: #AB8FB1 !important; */
    /* background-color: #AB8FB1 !important; */
    background: transparent;
    background-color: dimgray;
    background-image: url(assets/titanic.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .reveal section img {
    border: 5px solid #2d2d2d !important;
    padding: 10px;
    background: #FFFFFF !important;
    opacity: 0.9;
  }
  .reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
    padding: 0;
  }
  .reveal h1 {
    color: #FFFFFF;
    background-color: #663248;
  }
  .reveal h2 {
    color: #2d2d2d;
    background-color: #F8CD2F;
  }
  .reveal .controls .navigate-left,
  .reveal .controls .navigate-left.enabled {
    border-right-color: #2d2d2d;
  }
  .reveal .controls .navigate-left.enabled:hover {
    border-right-color: #000;
  }
  .reveal .controls .navigate-right,
  .reveal .controls .navigate-right.enabled {
    border-left-color: #2d2d2d;
  }
  .reveal .controls .navigate-right.enabled:hover {
    border-left-color: #000;
  }
  .reveal .controls .navigate-up,
  .reveal .controls .navigate-up.enabled {
    border-bottom-color: #2d2d2d;
  }
  .reveal .controls .navigate-up.enabled:hover {
    border-bottom-color: #000;
  }
  .reveal .controls .navigate-down,
  .reveal .controls .navigate-down.enabled {
    border-top-color: #2d2d2d;
  }
  .reveal .controls .navigate-down.enabled:hover {
    border-top-color: #000;
  }
  :focus {
    outline: none;
  }
  .scatter_plot_matrix img {
    width: 570px;
  }
  .var-table {
    background: white;
  }
  
  table tr {
    padding: 10px !important;
    color: #2d2d2d;
  }
  
  table tr:nth-child(even) {
    background: #fff;
    opacity: 0.9;
  }
  
  table tr:nth-child(odd) {
    background: #f1f1f1;
    opacity: 0.9;
  }
  
   table th {
     color: #f1f1f1;
     background: #663248;
  }
  
  div.content {
    padding: 20px;
    background: #f1f1f1;
    color: #2d2d2d;
    opacity: 0.9;
  }
  
  div.content.big-code code {
      max-height: 560px !important;
  }
  
  div.content.medium-code code {
      max-height: 400px !important;
  }
  
  div.content.small-code code {
      max-height: 300px !important;
  }
  
  div.content code {
    padding: 20px;
  }
  
  div.content.small-equation span.math{
    font-size: 19px;
  }
    
  }